@import "darken.rasi"

* {
  colors-background: rgba(36, 39, 58, 0.95);
  colors-selected: rgba(48, 52, 70, 0.95);
  colors-placeholder: #B0B8D3;
  colors-border: rgba(36, 39, 58, 0.95);
  colors-text: #B0B8D3;
}

mode-switcher,
listview,
scrollbar, 
inputbar, 
error-message,
message {
  border-radius: 0;
}

window {
  width: 500px;
}
