* {
  colors-background: white;
  colors-border: #e2e2e2;
  colors-element: #6f6f6f;
  colors-placeholder: #cfc9c2;
  colors-selected-text: #171717;
  colors-selected: #ededed;
  colors-text: #171717;
}

@import "rounded-corners-common.rasi"
