configuration {
  display-drun: "";
  display-run: "";
  display-filebrowser: "";
  display-window: "";
  display-ssh: "";
  display-combi: "";
}

@theme "~/.local/share/rofi/themes/darken.rasi"
